{% extends 'CarServiceAdminBundle::template.html.twig' %}

{% block body -%}
<div class="page-header">
    <h1>Usługi</h1>
</div>    

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="pull-left">Lista usług</h4>
        <div class="btn-toolbar pull-right"> 
            <a href="{{ url('admin_servicegroup_new') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus-sign"></i>
                Dodaj grupę
            </a>                
            <a href="{{ url('admin_service_new') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-plus-sign"></i>
                Dodaj usługę
            </a>                    
        </div>
    </div>
                
    <table class="table table-bordered table-condensed 
           table-striped table-hover vertical-middle">
        <colgroup>
            <col width="30"/>
            <col width="320px"/>
            <col />
            <col width="168px"/>
            <col width="132px"/>
        </colgroup>
        
        <thead>
            <tr>
                <th colspan="2">Nazwa</th>
                <th>Opis</th>
                <th>Cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td colspan="2">{{ group.name }}</td>
                <td>{{ group.description }}</td>  
                <td>-</td>
                <td>
                    <form action="{{ path('admin_servicegroup_delete', { 'id': group.id }) }}" method="post" name="form">
                        <div class="btn-group">
                            <a href="{{ path('admin_servicegroup_edit', { 'id': group.id }) }}" class="btn btn-default">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Edytuj
                            </a>

                            <button name="form[submit]" type="submit" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>

                        <input type="hidden" value="DELETE" name="_method" />
                        <input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}" />
                    </form>                    
                </td>
            </tr>
            
            {% for service in group.services %}
            <tr>
                <td>&bull;</td>
                <td>{{ service.name }}</td>
                <td>{{ service.description|default('-') }}</td>  
                <td>{{ service.price|default(0)|number_format(2, ',') }} zł</td>
                <td>
                    <form action="{{ path('admin_service_delete', { 'id': service.id }) }}" method="post" name="form">
                        <div class="btn-group">
                            <a href="{{ path('admin_service_edit', { 'id': service.id }) }}" class="btn btn-default">
                                <i class="glyphicon glyphicon-pencil"></i>
                                Edytuj
                            </a>

                            <button name="form[submit]" type="submit" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>

                        <input type="hidden" value="DELETE" name="_method" />
                        <input type="hidden" name="form[_token]" value="{{ csrf_token('form') }}" />
                    </form>                    
                </td>
            </tr>                
            {% endfor %}
        {% endfor %}    
        </tbody>
    </table>
</div>
{% endblock %}
